UPLOAD_LISTEN_ADDR=127.0.0.1:9211
UPLOAD_DATABASE_URL=postgres://aether_edit_app:<redacted>@127.0.0.1:5435/aether_edit?sslmode=disable
UPLOAD_NATS_URL=nats://127.0.0.1:9214
UPLOAD_AUTH_HS256_KEY=<redacted-secret-set-on-box>
UPLOAD_QUOTA_CONFIG_PATH=/etc/aether-edit/quota.json
UPLOAD_S3_ENDPOINT=https://s3.us-west-or.io.cloud.ovh.us
UPLOAD_S3_REGION=us-west-or
UPLOAD_S3_BUCKET=aether-edit-store
UPLOAD_S3_ACCESS_KEY=<redacted-secret-set-on-box>
UPLOAD_S3_SECRET_KEY=<redacted-secret-set-on-box>
UPLOAD_S3_PATH_STYLE=true
UPLOAD_MAX_OBJECT_BYTES=21474836480
UPLOAD_MAX_INFLIGHT_BYTES=2147483648
